*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #ecf0f1; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.login_div, .register_div {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: #11111148 2px 5px 15px 1px; }
  .login_div form, .register_div form {
    display: flex;
    flex-direction: column; }
    .login_div form *, .register_div form * {
      margin-top: 10px; }
    .login_div form input:not([type="radio"]), .login_div form select, .register_div form input:not([type="radio"]), .register_div form select {
      border: 1px solid #888888;
      padding: 1rem 1rem;
      transition: all .3s;
      border-radius: 5px; }
    .login_div form input:focus, .register_div form input:focus {
      outline: none;
      background-color: #cccccc; }
    .login_div form button, .register_div form button {
      border: none;
      background: none;
      cursor: pointer;
      width: 100%;
      background-color: #2ecc71;
      padding: 1rem 1rem;
      border-radius: 3px;
      color: #f3f3f3;
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 1.1px;
      transition: .3s all;
      margin: 20px auto;
      border-radius: 5px; }
      .login_div form button:hover, .register_div form button:hover {
        background-color: #27ae60; }
    .login_div form a, .register_div form a {
      color: #27ae60;
      font-weight: 700;
      padding-bottom: 2px;
      text-decoration: none;
      width: 50%;
      display: inline; }
    .login_div form a:hover, .register_div form a:hover {
      border-bottom: 1px solid #27ae60; }

#register_popup {
  width: 100%;
  height: 100vh;
  background-color: #7f8c8d85;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }

.register_div {
  width: 27vw; }
  .register_div * {
    transition: all .3s; }
  .register_div .hidden {
    opacity: 0;
    height: 0;
    margin-top: 0; }
  .register_div #closeRegister {
    position: absolute;
    right: 3rem;
    top: 3rem;
    font-weight: 700;
    font-size: 2.2rem;
    user-select: none;
    cursor: pointer;
    color: #95a5a6;
    transition: color .2s; }
    .register_div #closeRegister:hover {
      color: #111111; }
  .register_div .sign-up {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .register_div .register_two {
    display: flex;
    justify-content: space-between;
    margin-top: -7px; }
    .register_div .register_two-row {
      display: flex;
      flex-direction: column;
      width: 48%; }
  .register_div .birthday-register {
    display: flex;
    justify-content: space-between;
    margin-top: 0; }
    .register_div .birthday-register select {
      width: 32%; }
    .register_div .birthday-register select:focus {
      outline: none; }
  .register_div .gender {
    display: flex;
    justify-content: space-between; }
  .register_div .radio-gender {
    margin-top: 0; }
  .register_div .register-button {
    margin-bottom: 0; }

.popUp-show {
  opacity: 1;
  visibility: visible; }

.register-error, .login-error {
  color: #e74c3c;
  font-weight: 600;
  display: inline-block;
  opacity: 1;
  transition: all .15s; }

.hidden {
  opacity: 0;
  height: 0;
  margin-top: 0; }

@media screen and (max-width: 1366px) {
  .login_div, .register_div {
    width: 40vw; } }

@media screen and (max-width: 800px) {
  .login_div, .register_div {
    width: 90%; } }

.timeline_main {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  height: auto;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px; }
  .timeline_main .card {
    margin: 10px;
    background-color: #ffffff;
    height: 80%;
    width: 30vw;
    height: auto;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    border-radius: 11px;
    box-shadow: #11111148 2px 5px 15px 5px; }
    .timeline_main .card_description {
      font-size: 16px;
      margin-bottom: 20px;
      width: 100%;
      padding: 0 20px;
      text-align: left; }
  .timeline_main .username_card_container {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: block; }
    .timeline_main .username_card_container::after {
      content: "";
      display: table;
      clear: both; }
  .timeline_main .username_card {
    padding: 25px 20px 15px 20px;
    padding: 5px 10px 0px 15px;
    align-items: center;
    display: flex;
    height: 100px;
    height: 80px;
    width: 100%;
    color: #2c3e50;
    border-bottom: 2px #11111160 solid; }
    .timeline_main .username_card > div::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border-radius: 12px;
      z-index: 4;
      border: 4px #8e44ad solid;
      border: 2px #27ae60 solid; }
    .timeline_main .username_card div {
      display: flex;
      flex-direction: row; }
      .timeline_main .username_card div img {
        position: relative; }
      .timeline_main .username_card div img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 64px;
        width: 64px;
        background-image: url("./blank-picture.jpg");
        background-size: cover;
        z-index: 100;
        border-radius: 12px; }
      .timeline_main .username_card div p {
        align-self: center;
        align-self: left;
        margin-left: 10px;
        font-size: 1.7rem;
        margin-top: 5px;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer; }
    .timeline_main .username_card img {
      border-radius: 50%;
      border-radius: 12px;
      width: 64px;
      height: 64px;
      margin-bottom: 3px; }
    .timeline_main .username_card .linfo_card {
      word-break: break-all;
      display: flex;
      align-items: start;
      flex-direction: column;
      align-self: center;
      text-align: left; }
      .timeline_main .username_card .linfo_card > p {
        width: 100%;
        margin-left: 0;
        padding-left: 10px; }
      .timeline_main .username_card .linfo_card-location {
        align-self: start; }
  .timeline_main .main_card {
    margin-top: 3px;
    text-align: center;
    height: 80%;
    width: 80%;
    height: 100%;
    width: 100%; }
    .timeline_main .main_card img {
      width: 70%;
      width: 99%;
      border-radius: 6px;
      padding-bottom: 2px; }
  .timeline_main .sidebar_card {
    padding: 10px 5px 10px 10px;
    border-top: 2px #11111160 solid;
    bottom: 10px;
    margin: -3px;
    font-size: 2rem;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .timeline_main .sidebar_card .date-uplodaded {
      font-size: 12px;
      padding-right: 10px;
      font-style: italic; }

.upvote, .downvote {
  width: 32px;
  height: 32px;
  stroke-width: 30;
  stroke: #111111;
  fill: #111111;
  transition: all .2s;
  cursor: pointer; }

.upvote {
  margin-left: 5px;
  margin-right: 10px; }

.upvote:hover {
  fill: #2ecc71;
  stroke: #2ecc71; }

.downvote:hover {
  fill: #e74c3c;
  stroke: #e74c3c; }

.voted-green {
  fill: #2ecc71;
  stroke: #2ecc71; }

.voted-red {
  fill: #e74c3c;
  stroke: #e74c3c; }

@media screen and (max-width: 1366px) {
  .timeline_main {
    width: 90%; }
    .timeline_main .card {
      width: 70vw; } }

@media screen and (max-width: 800px) {
  .timeline_main {
    width: 90%; }
    .timeline_main .card {
      width: 90%; } }

.profile-container {
  width: 50vw;
  margin: 0 auto;
  margin-top: 100px; }
  .profile-container .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profile-container .profile-info img {
      border-radius: 12px;
      width: 200px;
      height: 200px;
      object-fit: cover; }
    .profile-container .profile-info__text {
      font-size: 20px;
      margin-top: 10px;
      text-align: center; }
      @media screen and (max-width: 800px) {
        .profile-container .profile-info__text-numberinfo {
          flex-direction: column; } }
      .profile-container .profile-info__text-numberinfo {
        display: flex;
        flex-direction: row; }
        .profile-container .profile-info__text-numberinfo p {
          margin: 20px 25px; }
  .profile-container .profile-choose {
    text-align: center;
    margin-top: 100px;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    padding: 20px 0; }
    .profile-container .profile-choose a {
      font-size: 20px;
      text-decoration: none;
      color: #777;
      margin: 0 70px;
      padding: 19.5px 5px; }
    .profile-container .profile-choose .a-active {
      border-top: black 2px solid;
      border-bottom: black 2px solid;
      color: black; }
    .profile-container .profile-choose a:hover {
      border-top: black 2px solid;
      border-bottom: black 2px solid;
      color: black; }
  .profile-container .profile-feed-photos {
    width: 100%;
    height: auto;
    margin-top: 50px; }
    .profile-container .profile-feed-photos-row {
      display: flex;
      justify-content: space-between; }
      .profile-container .profile-feed-photos-row img {
        width: 25%;
        height: 250px;
        object-fit: cover;
        margin-bottom: 50px;
        cursor: pointer;
        transition: scale(1);
        transition: all .3s; }
        .profile-container .profile-feed-photos-row img:hover {
          transform: scale(1.05); }
  @media screen and (max-width: 800px) {
    .profile-container .profile-feed-photos-row {
      flex-direction: column;
      width: 100%;
      height: 100%; }
      .profile-container .profile-feed-photos-row img {
        margin-bottom: 15px;
        width: 100%;
        height: 250px; } }
  .profile-container .profile-feed-events {
    display: none;
    font-size: 30px;
    text-align: center;
    margin-top: 50px; }

.popup-feed-photos {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #95a5a6c7;
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .popup-feed-photos-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navbar_container {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  background-color: white;
  padding: 0px 30px;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: #1111113a 2px 0px 15px 4px;
  margin-bottom: 5px;
  position: relative; }
  .navbar_container .navbar_logo {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%); }
  .navbar_container .profile_rounder {
    position: relative;
    cursor: pointer; }
    .navbar_container .profile_rounder::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 12px;
      z-index: 4;
      border: 2px #27ae60 solid; }
  .navbar_container .profile_picture {
    border-radius: 12px;
    width: 64px;
    height: 64px; }
  .navbar_container .navbar_search {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navbar_container .navbar_search input {
      border: none;
      width: 25vw;
      padding: 10px; }
  .navbar_container .navbar_profile {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    width: 25vw;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly; }
    .navbar_container .navbar_profile .user_points {
      font-size: 2rem; }
  .navbar_container input:not([type="radio"]), .navbar_container select {
    border: 1px solid #888888;
    padding: 1rem 1rem;
    transition: all .3s;
    border-radius: 5px; }
  .navbar_container input:focus {
    outline: none;
    background-color: #cccccc; }

@media screen and (max-width: 1000px) {
  #kms {
    visibility: hidden; } }

@media screen and (max-width: 1366px) {
  input {
    width: 40vw; } }

@media screen and (max-width: 800px) {
  input {
    width: 90%; } }

button {
  border: none;
  background: none;
  cursor: pointer;
  width: 30vw;
  background-color: #2ecc71;
  padding: 1rem 1rem;
  border-radius: 3px;
  color: #f3f3f3;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1.1px;
  transition: .3s all;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #2ecc71;
  padding: 16px 64px;
  box-shadow: #11111127 2px 5px 15px 5px; }
  button:hover {
    background-color: #27ae60; }

#upload_popup {
  width: 100vw;
  height: 100vh;
  background-color: #7f8c8de3;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all .2s; }

#closeUpload {
  position: absolute;
  right: 30px;
  top: 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #7f8c8de3;
  transition: all .2s; }

#closeUpload:hover {
  color: #111111; }

a {
  text-decoration: none;
  transition: 0.1s all; }
  a:active {
    color: #5e85ac; }
  a:visited {
    color: #2c3e50; }
  a:hover {
    color: #496581; }

#output {
  max-height: 70vh; }

.error_container {
  background-color: white;
  box-shadow: #11111148 2px 5px 15px 5px;
  font-size: 5rem;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 12px; }
