<div class="timeline_main">
    <div class="card">
        <div class="username_card">
            <img src="/img/ProfilePictures/profilna.png" alt="">
            @david.arsov3
        </div>
        <div class="main_card">
            <img src="/img/mainimage.jpg" alt="">
        </div>
        <div class="sidebar_card">
            <a href="#">lajk</a>
            <a href="#">sharaj</a>
            <a href="#">subscrajber</a>
        </div>

    </div>


</div>
