<%- include("navbar")%>


<div class="timeline_main">
    
    <div class="card">
        <div class="username_card">
            <div>
                <img src="/img/ProfilePictures/profilna.png" alt="">
                <div class="linfo_card">
                    <p>@david.arsdadadadadadov3 </p>
                    <p style="font-weight: 400; color:#95a5a6">lokacija: pekol</p>
                </div>
            </div>     
    </div>
    
    <div class="main_card">
        <img src="/img/mainimage.jpg" alt="">
    </div>
    <div class="sidebar_card">
        <a href="#">lajk</a>
        <a href="#">sharaj</a>
        <a href="#">subscrajber</a>
    </div>
</div>
    
    
</div>
