<div class="navbar_containter_containter">
    <div class="navbar_container">
        <div class="navbar_profile">
            <a href="/profile" class = "profile_rounder">
                <img class = "profile_picture" src="/img/ProfilePictures/<%= user.profilePic %>" alt="">
            </a>
            <div class="user_points">
                <p>Points: 1000</p>
            </div>
        </div>
        <div class="navbar_search">
            <input type="text" name="search" id="" placeholder = "Search!" autocomplete="off">
        </div>
    </div>
</div>