
<button class="upload-button">Upload!</button>

<div id="upload_popup">
    <div class="register_div upload_div">
        <span id="closeUpload">X</span>
        <p class="sign-up">Upload Your Good Deed!</p>
        <form action="/" method="POST">

            <input type="file" accept="image/*" onchange="loadFile(event)" name="userImage" required>
            <p><img id="output" style="width:100%;"></p>
            <label for="userDescription" class="input_label">Description:</label>
            <input type="text" name="userDescription">
    
            <button class="register-button" type="submit">Upload Now!</button>
    
        </form>
    </div>
</div>
<script>
    let uploadButton = document.querySelector('.upload-button'),
        uploadPopup = document.querySelector('#upload_popup'),
        closeUpload = document.querySelector('#closeUpload');
        
    let loadFile = (event)=>{
        let image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    
    uploadButton.addEventListener('click', e => {
        uploadPopup.style.opacity = 1;
        uploadPopup.style.visibility = 'visible';
    });

    closeUpload.addEventListener('click', _ => {
        uploadPopup.style.opacity = 0;
        uploadPopup.style.visibility = 'hidden';
    })
</script>
