<%- include("partials/header") %>

<div style="font-size: 3rem; margin: 15px auto" class="error_container">
    <div class="error_message" >
        An error has occurred. <br>
        Please return to a safe zone!

    </div>
    <div class="detail_error">
        <%= error %>

    </div>
</div>


<%- include("partials/footer") %>