


.timeline_main{
    //background-color: red;
    margin: 0 auto;
    width:50%;
    height:auto;
    display: flex;
    overflow:visible;  
    flex-direction: column;
    justify-content: center;
    .card{
        margin:10px;
        background-color: #ffffff;
        width:30vw;
        height:auto;
        position: relative;
        align-self:center;      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        box-shadow: #11111148 2px 5px 15px 5px;
    }
    .username_card_container{
        height:200px;
        width:100%;
        
        overflow:hidden;
        display:block;
        @include clearfix;          
    }
    .username_card{

        padding:5px 10px 0px 15px;
        align-items:center;
        display:flex;
        height:80px;
        width:100%;
        color: #2c3e50;
        border-bottom: 2px #11111160 solid;
        top:0;
        left:0;
        //position: absolute;
        & > div::before{
            content: "";    
            position: absolute;
            width:64px;
            height:64px;
            border-radius: 12px;
            z-index: 4;
            border:2px #27ae60 solid;
        } 
        div{
            //position: absolute;
            display:flex;
            flex-direction: row;
            p{
                align-self: left;
                margin-left:10px;
                margin-top:5px;
                font-size: 1.4rem;
                font-weight: 600;
                cursor:pointer;
            }
        }
        img{
            border-radius: 12px;
            
            width:64px;
            height:64px;
            margin-bottom:3px;
        }
       .linfo_card{
           display:flex;
           flex-direction: column;
           align-self: center;
       }
        
    }

    
    .main_card{
        margin-top:3px;
        text-align: center;
        //position: relative;
        height:100%;
        width:100%;
        img{
            width:99%;
            border-radius:6px;
            padding-bottom:2px;
            

        }
    }
    .sidebar_card{
        padding:10px 5px 10px 10px;
        border-top: 2px #11111160 solid;
        margin:-3px;
        font-size: 2rem;
        //position: absolute;
        //background-color: white;
        bottom:10px;
        width:100%;    
    }
}