
.navbar_container{
    margin:0 auto;
    width:100%;
    height:75px;
    background-color: white;
    padding:0px 30px;
    display:flex;
    flex-direction: row-reverse;
    box-shadow: #1111113a 2px 0px 15px 4px;
    margin-bottom:5px;
    position: relative;

    .navbar_logo {
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
    }

    .profile_rounder {
        position:relative;
        cursor: pointer;

        &::before {  
            content: "";    
            position: absolute;
            width:64px;
            height:64px;
            
            border-radius: 12px;
            z-index: 4;
            border:2px #27ae60 solid;
        } 
    }

    .profile_picture{
        border-radius: 12px;
        width:64px;
        height:64px;
    }
    .navbar_search{
        position: absolute;
        top:35px;
        left:50%;
        transform: translate(-50%,-50%);
        input{
            border:none;        
            width:25vw;
            padding:10px;
        }
    }

    .navbar_profile {
        display:flex;
        flex-direction: row-reverse;
        padding:5px;
        width:25vw;
        align-items:center;
        align-content: space-between;
        justify-content: space-evenly;

        .user_points{
            font-size:2rem;
        }
    }
    
        input:not([type="radio"]),select {
            border: 1px solid #888888;
            padding: 1rem 1rem;
            transition: all .3s;
            border-radius: 5px;
        }

        input:focus {
            outline: none;
            background-color: #cccccc;
        }
}

@media screen and (max-width: 1000px) {
    #kms{
        visibility:hidden;
    }
}

@media screen and (max-width: 1366px) {
    input{
        width:40vw;
    }
}
@media screen and (max-width: 800px) {
    input{
        width:90%;
    }
}