
button{
    
    border: none;
    background: none;
    cursor: pointer;
    width: 30vw;
    background-color: $color-primary;
    padding: 1rem 1rem;
    border-radius: 3px;
    color: $color-grey-light-1;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1.1px;
    transition: .3s all;
    margin: 20px auto;
    border-radius: 5px;
    background-color: $color-primary;
    padding:16px 64px;
    &:hover {
        background-color: $color-primary-dark;
    }
    box-shadow: #11111127 2px 5px 15px 5px;
}

#upload_popup {
    width: 100vw;
    height: 100vh;
    background-color: #7f8c8de3;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transition: all .2s;
}

#closeUpload {
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color:#7f8c8de3;
    transition: all .2s;
}

#closeUpload:hover {
    color: #111111;
}
a{
    text-decoration: none;
    transition: 0.1s all;
    &:active{
        color:#5e85ac;
    }
    &:visited{
        color:#2c3e50;
    }
    &:hover{
        color:#496581;
    }
}

#output{

    max-height: 70vh;
}

